<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Refresh" content="1" />-->
    <title>LOBBY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<center>
<h1> Привет </h1>
    <div class="alert alert-danger" role="alert">
        <br/>
        <br/>
    <h1>Выберай комнату <a th:utext="${user.nickname}"/></h1>
        <br/>
        <br/>
    </div>
    <div class="alert alert-primary" role="alert">
        <br/>
        <br/>
    <table>
        <tr>
            <th><div class="alert alert-dark" role="alert">
                Свободные комнаты
            </div></th>
        </tr>
        <tr th:each ="game : ${games}">
            <td th:utext="${game.id}">...</td>
            <td th:utext="${game.userHost.nickname}">...
            </td>
            <td>
                <form action="/joinRoom">
                    <input type="hidden" name="name" th:value="${name}">
                    <input type="hidden" name="game" th:value="${game.id}">
            <input type="submit" class="btn btn-dark" value="Join" />
                </form>
            </td>
        </tr>

    </table>
        <br/>
        <br/>

        <form action="/createRoom">
            <input type="hidden" name="name" th:value="${name}">
            <input type="submit" class="btn btn-dark" value="CreateRoom" />
        </form>

    </div>
</center>

</body>
</html>