<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="1" />
    <title>Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<center>
    <h1>Комната <a th:utext="${user.nickname}"/></h1>
    <h1>Room host = <a th:utext="${game.userHost.nickname}" /></h1>
    <h1>Room second =  <a th:text="${game.secondUser}? ${game.secondUser.nickname}: '(waiting)'"/></h1>
    <h1>Game id = <a th:utext="${game.id}" /></h1>









</center>


</body>
</html>